azure-common==1.1.28
azure-core==1.26.3
azure-identity==1.12.0
azure-mgmt-compute==29.1.0
azure-mgmt-core==1.3.2
azure-mgmt-network==23.0.0
azure-mgmt-resource==23.0.0
azure-mgmt-sql==3.0.1
boto3==1.26.95
Flask==2.2.5
cffi==1.15.1
flask_cors==3.0.10
